<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.CountryMapper">
    

<!--     R : read  -->
    <select id="selectAll" resultType="com.hybrid.model.Country">
        
		  select code, 
		  		 name, 
		  		 continent, 
		  		 region, 
		  		 surfaceArea, 
		  		 indepYear, 
		  		 population, 
		  		 lifeExpectancy, 
		  		 gnp, 
		  		 gnpOld, 
		  		 localName,
		  		 governmentForm, 
		  		 headOfState, 
		  		 capital, 
		  		 code2 
		  		 
		    from country
        
    </select>
    
    </mapper>
