<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.EmpMapper">
    
    <select id="selectAll" resultType="com.hybrid.model.Emp">
        
        
        select 
        	    empno , 
	    		ename , 
	    		job , 
	    		mgr	, 
	    		hiredate , 
	    		sal ,  
	    		comm , 
	    		deptno 
        from emp 
        
        
    </select>
    
<!--     부서 코드로 해당 부서의 직원들을 출력 하는 code  -->
    <select id="selectByDeptno" parameterType="int" resultType="com.hybrid.model.Emp">
        
        select 
        	    empno , 
	    		ename , 
	    		job , 
	    		mgr	, 
	    		hiredate , 
	    		sal ,  
	    		comm , 
	    		deptno 
       	   from emp 
        where deptno = #{deptno}
        
    </select>
    
    
    
<!--     join 시에만 resultMap 이 필요  -->
    <resultMap id="empResultMapWithDept" type="com.hybrid.model.Emp">
        
        
         <id property="empno" column="emp_empno"/>
         <result property="ename" column="emp_ename"/>
         <result property="job" column="emp_job"/>
         <result property="mgr" column="emp_mgr"/>
         <result property="hiredate" column="emp_hiredate"/>
         <result property="sal" column="emp_sal"/>
         <result property="comm" column="emp_comm"/>
         
         <association property="dept" javaType="com.hybrid.model.Dept" >
             
             <id property="deptno" column="dept_deptno"/>
             <result property="dname" column="dept_dname"/>
             <result property="loc" column="dept_loc"/>
         
         </association>
        
        
        
    </resultMap>
    
    
    <select id="selectAllWithDept" resultMap="empResultMapWithDept">
        
        
        select 
        		e.empno 	as emp_empno, 
        		e.ename		as emp_ename, 
         		e.job 		as emp_job, 
	    		e.mgr		as emp_mgr, 
	    		e.hiredate  as emp_hiredate, 
	    		e.sal 		as emp_sal,  
	    		e.comm 		as emp_comm, 
	    		d.deptno 	as dept_deptno,
	    		d.dname		as dept_dname, 
	    		d.loc 		as dept_loc
           from emp e inner join dept d 
           on e.deptno = d.deptno
           order by d.deptno
        
        
    </select>
    
            
    <select id="selectByDeptnoWithDept" resultMap="empResultMapWithDept">
        
          select 
        		e.empno 	as emp_empno, 
        		e.ename		as emp_ename, 
         		e.job 		as emp_job, 
	    		e.mgr		as emp_mgr, 
	    		e.hiredate  as emp_hiredate, 
	    		e.sal 		as emp_sal,  
	    		e.comm 		as emp_comm, 
	    		d.deptno 	as dept_deptno,
	    		d.dname		as dept_dname, 
	    		d.loc 		as dept_loc
        		from emp e inner join dept d 
        		
             on e.deptno = d.deptno
          where deptno = #{deptno}
      	  order by d.deptno
        
        
        
    </select>
    
    
<!--     instructor -->


	
	<select id="selectByEmpno" resultType="com.hybrid.model.Emp">
	    
	    select * 
	    	from emp 
	    	where empno = #{empno}
	    
	    
	</select>

    
    <select id="selectByEmpnoWithDept" resultMap="empResultMapWithDept">
        
          select 
        		e.empno 	as emp_empno, 
        		e.ename		as emp_ename, 
         		e.job 		as emp_job, 
	    		e.mgr		as emp_mgr, 
	    		e.hiredate  as emp_hiredate, 
	    		e.sal 		as emp_sal,  
	    		e.comm 		as emp_comm, 
	    		d.deptno 	as dept_deptno,
	    		d.dname		as dept_dname, 
	    		d.loc 		as dept_loc
	    		
           from emp e inner join dept d 
             on e.deptno = d.deptno
          where empno = #{empno}
        
        
    </select>
    
    
    <insert id="insert" parameterType="com.hybrid.model.Emp">
        insert into emp
        				(
        				empno, 
        				ename,
        				job,
        				mgr,
        				hiredate,
        				sal,
        				comm,
        				deptno
        				)
        			values 
        				(
        				#{empno},
        				#{ename, jdbcType=VARCHAR},  <!-- jdbcType= 을 추가하면 null값에도 대응-->
        				#{job, jdbcType=VARCHAR}, <!-- DB table 에서 각 column 의 type에 따라 jdbcType 처리  -->
        				#{mgr, jdbcType=NUMERIC},
        				#{hiredate, jdbcType=TIMESTAMP},
        				#{sal , jdbcType=NUMERIC},
        				#{comm, jdbcType=NUMERIC},
        				#{dept.deptno,  jdbcType=NUMERIC}
        				)
        
    </insert>
    
    
    
   <delete id="delete" parameterType="com.hybrid.model.Emp">
       
       delete from emp 
       	where empno = #{empno}
       
   </delete>
    
   
   
</mapper>







